<!-- mac-lookup.html -->
<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body class="bg-custom-dark text-custom-light">
    <div>
        {{template "navbar.html"}}
    </div>
    <!-- Content -->
    <div class="container mt-4">
        <h1>MAC Address Lookup</h1>
        <form>
            <div class="form-group">
                <label for="macAddress">MAC Address</label>
                <input type="text" class="form-control" id="macAddress" placeholder="Enter MAC Address" required>
            </div>
            <button type="submit" class="btn btn-primary">Lookup</button>
        </form>
        <div class="mt-4" id="lookupResult">
            <!-- Lookup result will be displayed here -->
        </div>
    </div>
    <!-- End Content -->
</body>

</html>